<h2>Listado de Pedidos</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha de Solicitud</th>
      <th>Valor Total</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pedido of pedidos">
      <td>{{ pedido.createdAt }}</td>
      <td>{{ pedido.valor_total }}</td>
      <td>
        <button class="btn btn-primary" (click)="openFrutasModal(pedido.lista_frutas)">Ver Frutas</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal de Frutas -->
<div class="modal" tabindex="-1" role="dialog" [ngClass]="{ 'show': isFrutasModalOpen, 'd-block': isFrutasModalOpen }">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Lista de Frutas del Pedido</h5>
        <button type="button" class="close" aria-label="Close" (click)="closeFrutasModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tipo</th>
              <th>Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fruta of frutasModal">
              <td>{{ fruta.tipo }}</td>
              <td>{{ fruta.cantidad }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeFrutasModal()">Cerrar</button>
      </div>
    </div>
  </div>
</div>
